/* viewposts.css */

.posts-container {
  margin-top: 20px;
  height: 100vh;
  width: 100%;
}

.post-dov {
  background-color:
    #3B3486;
  height: 100%;
  width: 100%;
}

.post {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.post-details {
  margin-bottom: 10px;
}

.post h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.container h1{
  margin-left: 1.5rem;
  color: white;
}
.post p {
  line-height: 1.6;
}

.post a {
  display: block;
  color: #2100fb;
  text-decoration: none;
  margin-top: 10px;
}

.post a:hover {
  text-decoration: underline;
}

h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Header Component styling */
header {
  background-color: rgb(59, 52, 134);
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
  .post {
    padding: 15px;
  }

  .post h2 {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 1.8rem;
  }
}