.header-outer-div {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.header-outer-div img {
    width: 5%;
    height: 100%;
    padding-left: 2rem;
}

.header-home {
    padding-top: 0.5rem;
    padding-left: 5rem;
    font-size: 2rem;

}

.header-home a {
    text-decoration: none;
    color: black;
}

.post-logo {
    width: 25%;
    height: 100%;
    margin-left: 2rem;
}

.post-logo img {
    width: 45%;
    height: 80%;
}
.user-logo {
    width: 25%;
    height: 100%;
    margin-left: 2rem;
}

.user-logo img {
    width: 45%;
    height: 80%;
}
