.header-outer-div {
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color:#332941
    ;
}

.header-home {
    font-size: 2rem;
}

.home {
    color: white; 
    text-decoration: none; 
    
}
